/* Banner styles */
* {
    margin: 0;
    font-family: 'Work Sans';
}

header {
    background-image: url('../images/banner/banner2.png');
    background-color: #b6b4b4;
    background-size: cover;
    height: 800px;

}

.banner {
    text-align: right;
    padding: 200px;

}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 25px;
}

.primary-btn {
    background-color: #F15B22;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    height: 64px;
    margin-top: 30px;
    padding: 20px;
}

/* Failures section */
.failures {
    display: flex;
    gap: 90px;
    margin-top: 130px;
    margin-left: 150px;


}

.section-details {
    padding-top: 250px;
    max-width: 415px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}

.description {
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.section-details ul li {
    padding: 8px;
}

.section-img {
    background-color: #fadace;
    height: 600px;
    border-radius: 50%;
}

/* Plans Section */

.my-plans {
    margin-top: 130px;
    text-align: center;
}

.title {
    padding-bottom: 50px;
}

.plans {
    padding: 0 230px;
    display: flex;
    gap: 85px;
}

.plan h4 {
    font-weight: 700;
    font-size: 30px;
}

.plan p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    padding-top: 16px;
}
